body{
  background-color: rgb(80, 79, 79);
}
.container-fluid{
  display: flex; /* Enable Flexbox on the container */
  justify-content: center; /* Horizontally center child items */
  align-items: center; /* Vertically center child items */
  height: 100vh; /* Make the container take full viewport height */
  width: 100vw;
  overflow:hidden;
}
.form-container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width:350px;
  height:500px;
  border-radius: 50px;
  padding:20px;
  border: 10px solid black;
  gap:20px;
}
img{
  width:100px;
  animation:spin 10s linear infinite;
}
.logo-div{
  position:absolute;
  top:80px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login-div{
  text-align: center;
  font-size:50px;
  font-family:sans-serif;
  color:whitesmoke;
}
.input-container{
  padding:10px;
}
.username-input{
  border-radius:50px;
  border:none;
  width:100%;
  height:60px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);                 /* blur effect */
  -webkit-backdrop-filter: blur(10px);
}
.username-input::placeholder{
  padding:20px;
  font-size:20px;
  color:black;
  font-family: sans-serif;
}
.password-input{
  margin-top:20px;
  border-radius:50px;
  border:none;
  width:100%;
  height:60px;
  background: rgba(255, 255, 255, 0.1);;
  backdrop-filter: blur(10px);                 /* blur effect */
  -webkit-backdrop-filter: blur(10px);
}
.password-input::placeholder{
  padding:20px;
  font-size:20px;
  color:black;
  font-family: sans-serif;
}
#forgot-password{
  font-size:17px;
  color:white;
  position:absolute;
  right:170px;
  bottom:175px;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}
p{
  font-size:20px;
  font-family: sans-serif;
  position: absolute;
  bottom:150px;
  right:150px;
}
button{
  width:200px;
  height:50px;
  margin-top:10px;
  border-radius: 30px;
  border:none;
  color:white;
  transition: 0.5s;
  background-size: 200% auto;         
  display: block;
  background: linear-gradient(45deg, #4da6ff, #1a73e8);
  position:absolute;
  bottom:100px;
  left:250px;
}
button:hover{
    box-shadow: 0 0 20px #1a73e8;
}
